<div class="container pt-5 mt-5">
    <div class="about align-items-center justify-content-center">
    <div class="text-center">
        <div class="profile-picture mx-auto mt-5">
            <img src={{profilePictureSrc}} alt="Profile Picture" id="profile-picture"/>
        </div>
        <br>
        <h2 class="mb-3 pt-3">About Me</h2>
    </div>
    <div>
        <p>
            Hello world, my name is Ryan Kline. I am a recent computer science graduate from Grand Valley State University with almost
            2 years of software engineering experience. Over the years, I've been able to work with all sorts of programming languages and development technologies
            including Python, JavaScript/TypeScript, Go, C, .NET, Docker, OpenCV, and much more.<br><br>

            My passion for software began in my high school robotics class where I was the designated programmer on my team and learned the basics
            in a Scratch-like IDE. Since then, I've been able to study various aspects of computer science through my time at Grand Valley as
            well as my own independent study in areas such as embedded systems, artificial intelligence, language design, and game development.<br><br>

            In addition to my technical skills, I’ve also learned how to effectively work on projects of various scopes. Whether its working
            on a large development team utilizing Agile, a group of interdisciplinary engineers building a product from the ground up,
            or building something completely on my own, I always try to follow best practices to ensure whatever project
            I’m working on comes out the best it can be!
        </p>
    </div>
</div>
