<div class="container pt-1 mt-5">
    <div class="about align-items-center justify-content-center">
    <div class="text-center">
        <h2 class="mb-3 pt-1">About This Site</h2>
    </div>
    <div>
        <p>
            The purpose of my site is to serve as a blend of a portfolio and a personal blog, 
            showcasing my professional achievements while offering insights into my creative process and personal journey. 
            Through the portfolio, I highlight my skills, projects, and contributions, providing potential clients and employers 
            with a clear view of my capabilities and experiences. Meanwhile, the blog serves as a platform for reflection, 
            sharing my thoughts on industry trends, lessons learned, and the challenges I encounter along the way. 
        </p>

        <h6>Quick Links:</h6>
        <ul>
            <li><a routerLink="/resume">Professional Experiences/Resume</a></li>
            <li><a routerLink="/projects">Side Projects</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="/contact">Contact Me</a></li>
        </ul>
    </div>
</div>
