<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand">
            <div class="name">Ryan Kline</div>
            <hr class="name-spacer">
            <div class="subtitle">Software Engineer</div>
        </div>
        <button class="navbar-toggler" type="button" (click)="toggleNav()" [attr.aria-expanded]="isNavOpen.toString()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{ show: isNavOpen }">
        <ul class="navbar-nav ms-auto mx-5">
            <li class="nav-item mx-3">
                <a routerLink="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item mx-3">
                <a routerLink="/resume" class="nav-link">Resume</a>
            </li>
            <li class="nav-item mx-3">
                <a routerLink="/projects" class="nav-link">Projects</a>
            </li>
            <li class="nav-item mx-3">
                <a routerLink="/blog" class="nav-link">Blog</a>
            </li>
            <li class="nav-item mx-3">
                <a routerLink="/contact" class="nav-link">Contact</a>
            </li>
        </ul>
        </div>
    </div>
</nav>